<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/styles/nullStyle.css" />
		<link rel="stylesheet" href="../assets/styles/index.css" />
		<title>Список пользователей</title>
	</head>
	<body>
		<div class="wrapper">
			<h1 class="title">Список пользователей</h1>
			<form id="form" class="form">
				<input
					class="input"
					type="text"
					placeholder="Поиск по имени или e-mail"
				/>

				<h2 class="clear">Очистить фильтр</h2>
			</form>
		</div>

		<script src="../scripts/index.js"></script>
	</body>
</html>
